.greet_title {
  font-size: 5rem;
  margin-bottom: 59px;
}
.greet_text_green_text3 {
font-size: 3rem;
line-height: 150%;
margin-bottom: 50px;
}

.greet__text_green__text3 {
  font-family: 'Comfortaa', sans-serif;
}
